.Top-Content{
    margin-left: 20px;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: auto ;
    column-gap: 20px;
 }


/* TOP RIGHT CONTENT- CALORIES CONTAINER */

  /* MIDDLE CONTENT- PERSONAL BESTS */

.MiddleContent{
  margin-top: 80px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 30% 35% 30%;
  grid-template-rows: auto ;
  column-gap: 20px;
}

.BottomContent{
  margin-top: 40px;
  padding: 30px;
}